/* =================================
   CSS Styles for Workshop 01
   ================================= */

/* TODO Task 2: Add your general styles here */
/*adding 3-theme color variables for quick use*/
:root {
    --lightGray: #D3D3D3;
    --darkGray: #A9A9A9;
    --blue: #3366FF; 
}
/* Reset and Base Styles */
* {
    /* Add your reset styles here (margin, padding, box-sizing) */

}

body {
    /* Add body styles:  font-family, background-color, color, etc. */
    background-color: var(--darkGray);
    /*Web safe font*/
    font-family: Verdana, sans-serif;
    /*Common use Margin*/
    margin: 0 auto;
    padding: 15px;
}

/* TODO Task 2: Style your headings */
h1 {
    color: var(--blue);
    font-size:36px;
    text-align: center;
}

h2 {
    color: var(--blue);
    font-size:24px;
    text-align: center;
}

/* TODO Task 2: Style your paragraphs */
/* added additional styles for nicer look*/
p {
    background-color: var(--lightGray);
    padding:10px;
    text-align:center;
    margin: auto;
    line-height: 20px;
    color: var(--blue);
    max-width: 860px;
}

/* TODO Task 2: Style your images */
/*added addtional styles for images for nicer look*/
img {
    /*margin and display used to center img*/
    margin: 50px auto;
    display: block;
    border: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 25px 25px;
    max-width: 500px;
}

/* TODO Task 3: Navigation Styles */
nav {
    background-color: var(--lightGray);
    padding: 15px;  
}

nav ul {
    /* Remove bullets and style the list */
    list-style-type: none;
    text-align: center;
}

nav li {
    /* Display items horizontally */
    display: inline-block;
    margin: 0 30px;
}

nav a {
    /* Style the links */
    text-decoration: none;
    color: black;
}

nav a:hover {
    /* Add hover effect */
    color: red;
}

/* Main Content Styles */
main {
    
}

section {
    /* Add spacing between sections */
}

/* TODO Task 4: Form Styles */
form {
    border-style: solid;
    border-color: var(--lightGray);
    border-radius: 20px;
    padding: 10px;
}

label {
    display: inline-block;
    
}

input,
textarea {
    /* Style form inputs */

}

button,
input[type="submit"] {
    /* Style the submit button */

}

button:hover,
input[type="submit"]: hover {
    /* Add hover effect for button */
}

/* Footer Styles */
footer {
    
}

/* TODO Task 5: Media Queries for Responsive Design */
/* Tablet styles (optional) */
@media (max-width: 768px) {
    /* Add your tablet/mobile styles here */
    
}

/* Mobile styles */
@media (max-width:  480px) {
    /* Add your mobile-specific styles here */
    
}